# Ignorar archivos de entorno virtual
.venv/
venv/
env/

# Ignorar archivos de configuración sensible
.env

# Ignorar caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de base de datos local
*.sqlite3